<br/>
<div class="card container col-md-6">
    <div>
        <h3>View Employees</h3>
        <a class="btn btn-success" routerLink="/AddEmployee" routerLinkActive="active">Add Employee</a>
    </div>
    <div>
        <hr/>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>State</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td>{{employee['id']}}</td>
                    <td>{{employee['name']}}</td>
                    <td>{{employee['gender']}}</td>
                    <td>{{employee['age']}}</td>
                    <td>{{employee['state']}}</td>
                    <td><button class="btn btn-warning" (click)="ToEditEmployee(employee['id'])">Edit</button></td>
                    <td><button class="btn btn-danger" (click)="DeleteEmployee(employee['id'])">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>